---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">
	<div>
	  <h1 class="text-2xl font-bold mb-4">Últimas Noticias</h1>
	  <p>Consulta las noticias relevantes y actualizaciones en esta sección.</p>
	  <!-- Aquí puedes añadir componentes dinámicos de noticias -->
	</div>
</Layout>
